/* line 1, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 24, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 28, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 44, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 58, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 69, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* line 2, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
body {
  padding: 50px 100px;
  font-size: 13px;
  font-style: Verdana, Tahoma, sans-serif;
}

/* line 8, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
h2 {
  margin-bottom: 20px;
  color: #474E69;
}

/* ===========================
   ====== Contact Form ======= 
   =========================== */
/* line 17, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
input, textarea {
  padding: 10px;
  border: 1px solid #E5E5E5;
  width: 200px;
  color: #999999;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

/* line 27, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
textarea {
  width: 400px;
  height: 150px;
  max-width: 400px;
  line-height: 18px;
}

/* line 34, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
input:hover, textarea:hover,
input:focus, textarea:focus {
  border-color: 1px solid #C9C9C9;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}

/* line 42, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
.form label {
  margin-left: 10px;
  color: #999999;
}

/* ===========================
   ====== Submit Button ====== 
   =========================== */
/* line 51, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
.submit input {
  width: 100px;
  height: 40px;
  background-color: #474E69;
  color: #FFF;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

