<!DOCTYPE html>
<html>
<head>
    
  
    
<style>

 	<link rel="stylesheet" href="assets/css/reset.css" />
	<link rel="stylesheet" href="assets/css/style.css" /> 
	
	p.big {
    line-height: 1.8;
   
}

     

ul {
    list-style-type: none;
    margin: 30;
    padding: 50;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

body {
     background:	#F5F5DC;
     background-size: 100%;
     background-image: url("/assets/cycling.jpg") ;
     
     center
}

</style>
</head>


<body>
   
<p class="big"> <h4>
    
Rent a bike in Dublin is a space where you can find bicycles for youself, family and friends. 
Since 1997 we Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mauris augue, facilisis quis orci a, 
ornare efficitur arcu. Donec efficitur tortor vitae imperdiet facilisis. Morbi efficitur venenatis porta. 
Vestibulum ligula nisi, interdum eu risus et, congue mattis risus. Aliquam odio a, feugiat orci. 
Nullam consequat justo ex, non faucibus est condimentum ut. Proin volutpat lacus finibus tempus vestibulum.


<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:400px;width:600px;'>
<div id='gmap_canvas' style='height:400px;width:600px;'></div><div><small><a href="http://www.embedgooglemaps.com">
Generate your Google map here, quick and easy!</a></small></div><div><small><a href="https://binaireoptieservaringen.nl/">
</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}
</style></div><script type='text/javascript'>function init_map(){var myOptions = 
{zoom:10,center:new google.maps.LatLng(52.1678937,-9.525985699999978),mapTypeId: google.maps.MapTypeId.ROADMAP};
map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker
({map: map,position: new google.maps.LatLng(52.1678937,-9.525985699999978)});infowindow = new google.maps.InfoWindow({content:
'<strong> Rent a bike Dublin</strong><br>Dublin, Ireland<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open
(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
</h4></p>

</p>

</body>
</html>
