<!DOCTYPE html>
<html>
<head>
    
<title>CSS Contact Form</title>
	
<meta charset="utf-8" />
	
<link rel="stylesheet" href="style.css" type="text/css" media="all" />


<style>




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
body {
     background:	#F5F5DC;
     background-size: 100%;
     background-image: url("/assets/cycling.jpg") ;
     
}



</style>
</head>
<body>

<body>

	<h2>Contact Form</h2>
	
	<form class="form">
		
		<p class="name">
			<input type="text" name="name" id="name" placeholder="Your name please" />
			<label for="name">Name</label>
		</p>
		
		<p class="email">
			<input type="text" name="email" id="email" placeholder="Your email address please" />
			<label for="email">Email</label>
		</p>
		
		<p class="web">
			<input type="text" name="web" id="web" placeholder="Have a website?" />
			<label for="web">Website</label>
		</p>		
	
		<p class="text">
			<textarea name="text" placeholder="Have questions or want to share experience? Get in touch, we will be pleased to hear from you!" /></textarea>
		</p>
		
		<p class="submit">
			<input type="submit" value="Send" />
		</p>
	</form>
	
	

</body>






</body>
</html>



